<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- For file access without MANAGE_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".DebugActivity" android:exported="false"/>
        <activity android:name=".NewsActivity" android:exported="false"/>
        <activity android:name=".PopupActivity" android:exported="false"/>
        <activity android:name=".BlogonlineActivity" android:exported="false"/>
        <activity android:name=".Main1Activity" android:exported="false"/>
        <activity android:name=".Help1Activity" android:exported="false"/>
        <activity android:name=".HelpActivity" android:exported="false"/>
        <activity android:name=".ViewActivity" android:exported="false"/>
        <activity android:name=".Main0Activity" android:exported="false"/>
        <activity android:name=".LoginActivity" android:exported="false"/>
        <activity android:name=".SingupActivity" android:exported="false"/>
        <activity android:name=".ProfileActivity" android:exported="false"/>
        <activity android:name=".Help0Activity" android:exported="false"/>
        <activity android:name=".BloodDonateActivity" android:exported="false"/>
        <activity android:name=".PolicephonebookActivity" android:exported="false"/>
        <activity android:name=".PhonenumberActivity" android:exported="false"/>
        <activity android:name=".AmbulanceActivity" android:exported="false"/>
        <activity android:name=".FireActivity" android:exported="false"/>
        <activity android:name=".TrackActivity" android:exported="false"/>
        <activity android:name=".SubmitActivity" android:exported="false"/>
        <activity android:name=".SubmitrActivity" android:exported="false"/>
        <activity android:name=".SubmitfActivity" android:exported="false"/>
        <activity android:name=".SosActivity" android:exported="false"/>
        <activity android:name=".AboutUsActivity" android:exported="false"/>
        <activity android:name=".ListActivity" android:exported="false"/>
        <activity android:name=".BlogActivity" android:exported="false"/>
        <activity android:name=".NidActivity" android:exported="false"/>
        <activity android:name=".GuideActivity" android:exported="false"/>
        <activity android:name=".WelcomeUiActivity" android:exported="false"/>
        <activity android:name=".XpolicenumberbookActivity" android:exported="false"/>
        <activity android:name=".XphonenumberActivity" android:exported="false"/>
        <activity android:name=".AllphonenumberActivity" android:exported="false"/>

        <!-- Firebase Init -->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            android:exported="false"
            android:initOrder="100" />

        <!-- Firebase Services -->
        <service android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <!-- File Provider for file sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6399302951865878~4085241396" />

    </application>
</manifest>
